.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  15%,
  85% {
    opacity: 1;
  }
}

/* fade in */

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation 0.1s ease;
}

/* fade out */

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

/* Track */
::-webkit-scrollbar-track {
  /* margin-top: 2px;
    margin-bottom: 2px; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
  border-radius: 10px;
}